.gallery {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 1700px;
    margin-inline: auto;
}

.seccionUno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    margin-inline: auto;
    justify-content: center;
}

.seccionUno .seccion {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 50px;

}

.gallery .seccion .producto-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.featured {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.item {
    margin: 10px;
    text-align: center;
}

.item a {
    text-decoration: none;
}


.title {
    font-weight: bold;
}

.category {
    color: #555;
}

.price {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    gap: 20px;
    justify-content: center;
}

.icons img {
    width: 50px;
}

.icons .iconSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}