.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 20px;
}

.header .icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.header .page-name {
    font-size: 15px;
    font-weight: bold;
}

/* Contenido */
.content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.content .photo {
    width: 30%;
    /* Set width for each photo container */
    height: 300px;
    /* Set a fixed height for uniformity */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center content vertically */
    overflow: hidden;
    /* Prevent overflow */
}

.content .photo img {
    width: 100%;
    /* Make image take full width */
    height: 100%;
    /* Make image take full height */
    object-fit: cover;
    /* Cover the container without distortion */
    filter: brightness(0.6);
}


.content .photo .title {
    width: 280px;
    position: absolute;
    top: 60%;
    /* Center title vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    max-width: 100%;
    line-height: 1.2;
}

.content .photo .description {
    position: absolute;
    top: 70%;
    /* Position below the title */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow-wrap: break-word;
}

.content .photo .button {
    position: absolute;
    bottom: 10px;
    /* Position button at the bottom */
    left: 10px;
    /* Align button to the left */
    background-color: #b7bcc2;
    color: #0f0e0e;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}