.carrito {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrito-contenido {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
}

.carrito-lista {
  flex: 1;
  max-height: 500px; 
  margin-right: 20px;
}

.carrito-resumen {
  margin-top: 40px;
  width: 300px; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrito-resumen-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.carrito-total-titulo {
  font-size: 1.5rem; /* Tamaño de la fuente para el título */
  font-weight: bold; /* Negrita para el título */
}

.carrito-total-monto {
  font-size: 1.2rem; /* Tamaño más pequeño para el monto */
  color: #333; /* Color más sutil para el monto */
  font-weight: normal; /* Peso de la fuente normal para el monto */
}


.carrito-completar-compra-button {
  margin-top: 25px;
  margin-left: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 200px;
  background-color: #007bff; /* Azul más suave */
  color: #fff; /* Texto en blanco */
  font-weight: bold;
  border: none;
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-align: center; /* Centra el texto */
}

/* Efecto hover */
.carrito-completar-compra-button:hover {
  background-color: green; /* Cambia el color al pasar el mouse */
  transform: translateY(-3px); /* Efecto de elevación */
}

/* Efecto al hacer clic */
.carrito-completar-compra-button:active {
  transform: translateY(1px); /* Pequeña reducción de la elevación al hacer clic */
}


.carrito li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.carrito-item-details {
  margin-left: 10px;
  flex: 1;
}

.carrito img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

/* Estilo para el mensaje de éxito */
.mensaje-exito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mensaje-exito h3 {
  color: green;
  font-size: 2rem;
}

.mensaje-exito p {
  font-size: 1.2rem;
}

.mensaje-carrito-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mensaje-carrito-vacio h3 {
  color: red;
  font-size: 2rem;
}
